@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Outfit', sans-serif;
    ;
}

body,html{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    
}
div#container{
    
    position: relative;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    
    
}
div#conteudo{
    position: absolute;
    background-color: white;
    width: 700px;
    height: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 20px;
    
    
    
    
}
img{
    display: block;
    width: 700px;
    margin: auto;
    border-radius: 20px;
}
h1{
    font-size: 3em;
    text-align: center;
    padding-top: 25px;
}

p{
    padding: 1.5em 4em;
    font-size: 1.8em;
    text-align: center;
    color: rgba(0, 0, 0, 0.603);
}
